/* styles.css */

/* Estilização básica */
:root{
    --border:.1rem solid rgba(255,255,255,.3);

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d50b0b;
}

/* Cabeçalho */
header {
    background-color:transparent;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    border-bottom: var(--border);


}

/* Seção principal */
main {
    padding: 2em;
    text-align: center;
}

form {
    background-color: green;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

/* Resultado */
#resultado {
    margin-top: 2em;
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
}

#resultado h3 {
    margin: 0;
}

#resultado p {
    margin: 0.5em 0 0;
}

/* Rodapé */
footer {
    background-color: black;
    color:greenyellow;
    text-align: center;
    padding: 1em 0;
    margin-top: 20%;
}
